@value border-box, max-width-2 from "../node_modules/basscss-layout/index.css";
@value mt1, mt4, mx-auto from "../node_modules/basscss-margin/index.css";
@value p1 from "../node_modules/basscss-padding/index.css";

.container {
  composes: max-width-2 mx-auto mt4;
}

.title {
  text-align: center;
  color: #212529;
}

.urlInput {
  composes: border-box;

  display: block;
  width: 100%;
  padding: 12px 25px;
  margin-bottom: 1rem;

  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  color: #ADB5BD;

  border: 1px solid #DEE2E6;
  border-radius: 8px;
  transition: box-shadow 200ms ease-in-out;
  appearance: none;
}

.urlInput:-webkit-autofill {
  box-shadow: inset 0 0 0px 9999px white;
  -webkit-text-fill-color: #ADB5BD;
}

.urlInput::-webkit-input-placeholder {
  color: #ADB5BD;
}

.urlInput::moz-placeholder {
  color: #ADB5BD;
}

.urlInput::-ms-input-placeholder {
  color: #ADB5BD;
}

.urlInput:focus {
  outline: none;
  border: 1px solid #DEE2E6;
  box-shadow: 0 2px 16px 0 #DEE2E6;
}

.shortUrl {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #212529;
}

.shortUrl:hover {
  cursor: pointer;
  color: #343A40;
}

.notificationContainer {
  composes: mt1 ;
  text-align: center;
}

.notification {
  composes: mx-auto;

  display: inline-block;

  padding: 4px 8px;

  font-size: 13px;
  font-weight: 300;
  color: #ADB5BD;

  background: #EBFBEE;
  border-radius: 4px;

}
